<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160322002-Quartz2D-BarShape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5BD943B1CA136F3006CE66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5BD94541CA136F9006CE66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5BD945F1CA136F9006CE66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
